$first-color: #15195d;
$second-color: #02def2;
$comp-color: #81f434;
$firstShadow-color: #070822;
$compShadow-color: #003300;


$white-color: #fff;
$black-color: #000;
$softGrey-color: #bebec3;
$grey-color: #7e7e7b;
$grayTransparent-color: #0009;


$blue-title-color:#002060;
$blue-app-color: #0071c2;
$red-icp-color: #C00000;
$blue-igp-color: #2F5597;
$green-uniq-color:#548235;
$lightPurple-color:#606194;


$first-borderRadius: 50px;
$second-borderRadius: 15px;

$first-boxShadow: 0px 0px 6px 0px #0004;

$base-pageDivider: 2rem;

$header-height: 100px;
